/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require icomoon/style.css
 
 *= require assets/stylesheets/bootstrap.min.css
 *= require assets/stylesheets/magnific-popup.css
 *= require assets/stylesheets/jquery-ui.css
 *= require assets/stylesheets/aos.css 
 */



#div-img-bg {
	width: 100%;

}

#item-carousel {

	height: 10%;
	width: 10%;
}

#carouselExampleCaptions {
	width: 40%;
	margin: auto;
}

/* Icon NavBAr */

#icons-div {
	display: flex;
	justify-content: space-between;
}

#icon-sub-div {
	margin: 0 5px 0 5px;
}
/* Icon NavBAr */

/* FORMS */

#div-sign-in{
	margin: auto;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
	padding: 20px;
	width: 350px;
	height: 550px;
}

#div-inside-sign-in {
	text-align: center;
}

#logo-1 {
	margin-bottom: 30px;
}

#div-sign-up{
	margin: auto;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
	padding: 20px;
	width: 350px;
	height: 580px;
}

#div-inside-sign-up {
	text-align: center;
}

#div-pwd-reset {
	margin: auto;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
	padding: 20px;
	width: 350px;
	height: 310px;
}

/* FORMS */


